body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-image: url('https://i.artfile.ru/2560x1440_1531954_[www.ArtFile.ru].jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

header {
    background-image: radial-gradient(circle at 20% 50%, #ff8800, rgb(209, 0, 17), #333);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}




main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 70%;
    max-width: 1000px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 4%
}



img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
#about {
    text-align: center;   
}
.lower-p {
    text-align: center;
}
#button1 {
    background-color: rgb(255, 136, 0); 
    color: white;
    padding: 3px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
#button2 {
    background-color: rgb(209, 0, 17);
    color: white;
    padding: 3px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#button_div1 {
    text-align: center;
    padding-bottom: 13px;
}
#button_div2 {
    text-align: center;

}

#button1:hover {
    background-image: url('https://img.goodfon.ru/original/640x480/2/2f/kosmos-planety-zvezdy-siyanie-5030.jpg');
    background-size: 100%;
    background-position-y: 11%;
    max-width: 300px;
    box-shadow: #000000;
    text-shadow: 0 0 8px #000000;
}

#button2:hover {
    background-image: url('https://getwallpapers.com/wallpaper/small-retina/a/1/e/42534.jpg');
    background-size: 100%;
    background-position-y: 40%;
    max-width: 300px;
    box-shadow: #000000;
    text-shadow: 0 0 8px #000000;
}


/* Блок для входа в систему */

#signin_container {
    display:none;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 300px;
    margin: auto;
}
#register_container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 300px;
    margin: auto;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#continue_jorney_button {
    font-weight: bold;
    background-image: url('https://img.goodfon.ru/original/640x480/2/2f/kosmos-planety-zvezdy-siyanie-5030.jpg');
    background-size: 100%;
    background-position-y: 90%;
    color: rgb(0, 0, 0);
    padding: 3px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 66%;
    height: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 8px #000000;
}

#start_jorney_button {
    font-weight: bold;
    background-image: url('https://getwallpapers.com/wallpaper/small-retina/a/1/e/42534.jpg');
    background-size: 100%;
    background-position-y: 90%;
    color: rgb(0, 0, 0);
    padding: 3px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 66%;
    height: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 8px #000000;
}

a {
    color: inherit; /* Наследует цвет текста родительского элемента */
    text-decoration: none;
  }
  
  