{% extends "base.html" %}

{% block body %}


    <main class="container_text">
        <section>
            <h2 id="about">Ничего лишнего, только личное. <br> Присоединяйтесь к лучшему сервису для написания сценариев!</h2>
            <p id="about">	&#127757; С нами уже более 1 млн авторов по всему миру!</p>
            <p id="about">&#127984; Пишите истории. Создавайте вселенные. Заявляйте о себе.</p>
        </section>        
    </main>

    <div id="block_to_hide">
        <div id="button_div1">
            <button id='button1' type="submit"><h3>Войти</h3></button>
        </div>
        <div id="button_div2">
            <button id='button2' type="submit">
                <h3>Зарегистрироваться</h3></button>
        </div>
    </div>




    <div id="signin_container">
        <h2>Вход в систему</h2>
        <form action="#">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <div class="error" id="email-error"></div>
            </div>

            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
                <div class="error" id="password-error"></div>
            </div>
            <button type="submit" id="continue_jorney_button">Продолжить приключение!</button>
        </form>
    </div>

    <footer>
        &copy; 2024 BookBook
    </footer>

    <script>
        const blockToHide = document.getElementById('block_to_hide');
        const btnSignIn = document.getElementById('button1');
        const signInContainer = document.getElementById('signin_container');
        btnSignIn.addEventListener('click', function(){
            blockToHide.style.display = 'none';
            signInContainer.style.display = 'block';
        });
        const btnSignUp = document.getElementById('button2');
        btnSignUp.addEventListener('click', function(){
            
        })
    </script>
    <script src="static/login_script.js"></script> 

    {%endblock%}    
    
