{% extends "base.html" %}

{%block body%}


<hr style='color:white;width:75%'>

<div style='margin-top:2%;background-color:rgb(255, 255, 255, 0.5); margin-left:25%;margin-right:25%;padding-top:0.3%;padding-bottom:3%;text-align:center'>
    <h3>Создать задачу</h3>
    <form id="taskFormCreate">
        <p><label>Название</label>
        <input type="text" id="taskFormTitle"></p>
        <p><label>Описание</label>
        <input type="text" id="taskFormDescription"></p>
        <button id="taskFormCreateBtn">Сохранить</button>
    </form>
    
<button id="getTask", style="margin-top:5%">РЕНДЕР!</button>
</div>

<div style='background-color:rgb(255, 255, 255, 0.5);margin-top:2%; margin-left:25%;margin-right:25%;padding-top:0.3%;padding-bottom:3%;text-align:center'>

    <h3>Таблица с задачами:</h3>
    <ul id="ulTask">

    </ul>
</div>




<script>
const reqGetListTask = 'http://127.0.0.1:8000/api/v1/tasks/list';
const reqPostCreateTask = 'http://127.0.0.1:8000/api/v1/tasks/create';
const taskObject = {
    list_task: [],
}

const clickButton = document.getElementById('getTask');
clickButton.addEventListener('click', renderTasks);

function renderTasks(){
    // Блок запроса и получения данных
    
    fetch(reqGetListTask).then(response=>response.json()).then(
        tasks => {
            const ulTask = document.getElementById('ulTask');
            ulTask.innerHTML = '' // Эта конструкция позволяет не дублировать списки и легко-и-просто обновлять список при добавлении новых задач.
            for(let i=0; i < tasks.length; i++){
                // Создаем элементы, которым в будущем присвоим значение
                element_li = document.createElement('li');
                element_title = document.createElement('h3');
                element_description = document.createElement('p');
                element_status = document.createElement('p');
                element_button_delete = document.createElement('button');
                element_button_update = document.createElement('button')
                // Присваиваем значение из переменной tasks
                element_button_delete.textContent = 'Удалить задачу';
                element_button_update.textContent = 'Редактировать задачу';
                element_button_delete.id = `delete_task_id=${tasks[i].id}`;
                element_button_update.id = `update_task_id=${tasks[i].id}`
                element_button_delete.addEventListener('click', function(event){
                    // event.preventDefault();// Страничку пере-рендеривать не надо, мы перегружаем сервер.
                    url = 'http://127.0.0.1:8000/api/v1/tasks/delete' + '?' + this.id.slice(7,this.id.length);
                    // СЛАЙС: обрезаем "delete_" со строки выше в тильде ЧТОБЫ хоть у нас разные айди, для проги нужен только кончик
                    fetch(url, {
                        method: 'DELETE'
                    })
                    renderTasks() // можно два раза вызвать чтобы не кликать два раза, но это сильно нагрудает сервер
                }) 

                element_title.textContent = tasks[i].title;
                element_description.textContent = tasks[i].description;
                element_status.textContent = tasks[i].status;
                element_div = document.createElement('div');
                element_div.append(element_title,
                element_description,
                element_status,
                element_button_delete);
                element_li.append(element_div);
                ulTask.append(element_li);
                console.log('asdas')
            }
        }
    )
}

// Разультат записываем в дату, и дату в лист_таск

// ).then(data => taskObject.list_task.push(data)) // Добавляем в list_object[переменная - пустой массив] данные.
    
const taskFormCreateBtn = document.getElementById('taskFormCreateBtn');
taskFormCreateBtn.addEventListener('click', function(event) {
    event.preventDefault(); // когда обрабатываем post запрос, хтмл перезагружается, но этой строчкой мы это предотвращаем, и страница не обновляется 
    let taskFormTitle = document.getElementById('taskFormTitle');
    let taskFormDescription = document.getElementById('taskFormDescription');
    data = {'title': taskFormTitle.value, 'description': taskFormDescription.value};
    fetch(reqPostCreateTask, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json' // взяли с docs
        },
        body: JSON.stringify(data)
    })
    taskFormTitle.value = '';
    taskFormDescription.value = '';
    renderTasks()
})
</script>

<script src="{{ url_for('static', path='index_script.js') }}"></script>



{%endblock%}    
